@import "~antd/dist/antd.css";

/* Tickets APP */
#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

/* Maps APP */
.mapContainer {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}

.info {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  color: white;
  left: 20px;
  padding: 10px;
  position: fixed;
  top: 20px;
  z-index: 99;
}
